<style>
    .success-msg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #32CD32; /* green color */
        padding: 20px;
        border-radius: 10px;
        color: #fff;
        text-align: center;
    }
</style>
<div class="success-msg">
    <h1>Message Sent!</h1>
</div>




